<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Dashboard</h2>
  <p>Total Registered Users: <b><%= totalUsers %></b></p>
</body>
</html>
